fastapi
uvicorn
pydantic
langchain-groq
python-dotenv
langchain==0.1.20
chromadb==0.4.22
langchain-huggingface
sentence-transformers
rapidfuzz
langchain-community==0.0.38
langchain-classic
playwright
beautifulsoup4
apscheduler
langchain-chroma==0.1.0
pysqlite3-binary
