fastapi
uvicorn
pydantic
langchain-groq
python-dotenv
langchain
chromadb==0.4.24
langchain-huggingface
sentence-transformers
rapidfuzz
langchain-community
langchain-classic
playwright
beautifulsoup4
apscheduler
langchain-chroma
pysqlite3-binary
